<div class="container-fluid ds-pt-3 ds-pb-3">
    <div class="row">
        <div class="col-12 mx-auto">
            <h4 class="text-primary mb-4"><b>{{pageTitle}}</b></h4>
            <div class="container-fluid aboutus-container">
                <div class="row">
                    <div class="col-12 mx-auto middleside p-0">
                        <div class="centered-content">
                            <div>
                                <div class="text-justify" [innerHTML]="getSanitizedHtml()"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>