<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
  <div class="repository-searchBox p-0">
    <div class="row form-group input-group justify-content-center">
      <input type="text" [(ngModel)]="query" name="query"
        class="col-12 col-sm-5 col-md-7 mb-2 mb-sm-0 border-end-0 input-child" [attr.aria-label]="searchPlaceholder"
        [attr.data-test]="'search-box' | dsBrowserOnly" [placeholder]="searchPlaceholder" tabindex="0">

      @if (showScopeSelector) {
      <select #scopecommunity (change)="onSelectedScope(scopecommunity.value)"
        class="col-12 col-sm-3 col-md-2 border-end-0 bg-white mb-2 mb-sm-0 dropdown input-child form-select"
        name="contentType1" id="contentType1">
        <option value="" [selected]="scope===''">{{'search.form.scope.all' | translate}}</option>
        @for (community of (communitiesRD$ | async)?.page; track community.id) {
        <ng-container>
          <option [value]="community.id" [selected]="scope===community.id">
            {{dsoNameService.getName(community)}}</option>
        </ng-container>
        }
      </select>
      }

      @if (contenttype != null) {
      <select #teams (change)="onSelected(teams.value)"
        class="col-12 col-sm-3 col-md-2 border-end-0 bg-white mb-2 mb-sm-0 dropdown input-child form-select"
        name="contentType" id="contenttype">
        <option value="123" selected>All Items</option>
        @for(ecds of contenttype; track ecds) {
        <ng-container>
          <option [value]="ecds.value">{{ecds.label}}</option>
        </ng-container>
        }
      </select>
      }
      <button type="submit" class="col-12 col-sm-1 mb-sm-0 input-child 
                    d-flex align-items-center justify-content-center border-0 search-button btn btn-{{brandColor}}"
        [attr.data-test]="'search-button' | dsBrowserOnly" role="button" tabindex="0"><i
          class="fas fa-search"></i></button>
    </div>
  </div>
</form>